/* .toolbar {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  float: right;
} */

/* .category {
  float: left;
  background: gray;
  height: 5vh;
} */

/* .category-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, auto);
  width: 100%;
  display: inline-block;
} */

.category-form {
  display: flex;
  flex-direction: row;
  /* border-right: 2px solid red; */
  /* height: 100%;
  width: 12vw; */
}
.category-item {
  margin: 30 20px;
  line-height: 2rem;
  padding: 15px;
  text-transform: capitalize;
  font-size: 1.25rem;
  /* display: inline-block; */
}

.category-item checkbox {
  width: 15px;
  height: 15px;
}

.toolbar-heading {
  font-size: 1.4rem;
}
